<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<body>
  <nav>
    <div>
        <h1>{{title}}</h1>
    </div>
    <div id="navbar">
        <div id="redirections">
            <a href="/games">Games</a>
            <a href="/plays">Plays</a>
        </div>
        <div id="auth">
            <a href="/index/signin">Login</a>
            <a href="/index/register">Register</a>
        </div>
    </div>
  </nav>
  
  {{{body}}}

  <footer>
    <div>
      <p>Respect and tributes to Board Game Geek and its gaming community</p>
    </div>
    <div>
      <div id="social-media-logos">
        <img src="" alt="instagram">
        <img src="" alt="twitter">
        <img src="" alt="discord">
        <img src="" alt="twitch">
      </div>
      <div>
        <p>Board Game Salon &#169; 2021</p>
      </div>
    </div>
  </footer>

  <script src="/javascripts/script.js"></script>

</body>
</html>