.card-carousel {
    position: relative;
    display: block;
    height: 150px;
    width: 100%;
    background-color: inherit;
    margin-bottom: $inline-gap;
}

.card-carousel__viewport {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    overflow-x: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
}

.card-carousel__slide {
    position: relative;
    flex: 0 0 100%;
    width: 100%;
    height: 100%;
}

.card-carousel__slide-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    scroll-snap-align: center;
    background-color: inherit;
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
}
