$text-color: #282828;
$text-color-light: #f3f3f4;

$block-gap: 1.5rem;
$inline-gap: 0.5rem;

$brand-colors: (
  "primary": #D5A286,
  "complementary": #86B9D5,
  "harmony": #D5869F
);

$media: (
  "mobile": 480px,
  "tablet": 768px,
  "desktop": 1440px
);

$cols-lg-plays: 4;
$cols-md-plays: 3;
$cols-sm-plays: 2;
$cols-xs-plays: 1;

$cols-desktop-games: 4;
$cols-tablet-games: 3;
$cols-mobile-games: 2;

$side-margin: 15vw;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
    height: auto;
}

::-webkit-scrollbar {
    width: 0;
    height: 0;
}

@function color($color-name) {
    @return map-get($brand-colors, $color-name);
  }
  
@mixin containerFlex($direction) {
    display: flex;
    flex-direction: $direction;
}

@mixin flexCenter($direction) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: $direction;
}

@function media($device) {
    @return map-get($media, $device);
}

@mixin media-sm {
    @media screen and (min-width: media(mobile)) {
        @content;
    }
}

@mixin media-md {
    @media screen and (min-width: media(tablet)) {
        @content;
    }
}

@mixin media-lg {
    @media screen and (min-width: media(desktop)) {
        @content;
    }
}

@mixin media-md-side-margin {
    @include media-md {
        padding: calc(3 * #{$block-gap}) $side-margin;
    }
}