#manifesto {
    padding: $block-gap;
    flex-grow: 1;
    @include flexCenter(column);
  
    h2 {
      align-self: flex-start;
      font-size: 1.5rem;
      line-height: 1;
    }
  
    div {
        background-image: url("/images/key-visual.svg");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        align-self: flex-end;
        max-height: 60vh;
        width: 60vh;
        flex-grow: 1;
    }

    @include media-md {
        @include flexCenter(row);
      
        h2 {
            font-size: 1.75rem;
            line-height: 1.25;
            align-self: center;
            flex: none;
        }
      
        div {
            height: 60vh;
            width: 60vh;;
            align-self: center;
            flex: none;
        }
    }
}

.search-bars {
    @include flexCenter(column);
    padding: $block-gap 0;

    .input {
        width: 40vw;
        background-color: white;
        border: 1px solid rgb(133, 133, 133);
        border-radius: 4px;
        padding: $inline-gap 0;
    }

    .btn-search {
        color: darken(color(complementary), 15);
        width: 25vw;
        border: 1px solid darken(color(complementary), 15);
        background-color: white;
        border-radius: 4px;
        padding: $inline-gap 0;

        &:hover {
            background-color: color(complementary);
            color: $text-color;
        }
    }

    @include media-md {
        font-size: 1.25rem;

        .input {
            max-width: 350px;
            font-size: 1.25rem;
        }
    
        .btn-search {
            max-width: 200px;
            font-size: 1.25rem;
        }
    }
}

#manifesto-and-search {
    height: 88vh;
    @include containerFlex(column);

    @include media-md {
        height: 92vh;
    }
}

.index-plays {
    padding: $block-gap;
    @include containerFlex(column);

    @include media-md {
        padding: calc(3 * #{$block-gap}) 15vw;
    }
}

.slider-plays {
    padding: $inline-gap 0;
}

.link-see-all {
    font-size: 1rem;
    font-weight: 500;
    color: color(complementary);
}

.index-games {
    @extend .index-plays;
}

.container-games {
    @extend .slider-plays;
}

.featured-games {
    h3 {
        padding: $block-gap;
    }

    @include media-md {
        margin-bottom: $block-gap;

        @include containerFlex(column);

        h3 {
            padding: $block-gap 15vw 0 15vw;
        }
    }
}

.featured-game-info {
    padding: $block-gap;

    p {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 10;
        overflow: hidden;
        padding-top: $inline-gap;
    };

    .designer {
        padding-top: $inline-gap;
        color: lighten($text-color, 30);
    }

    .editor-note {
        display: inline-block;
        margin-top: $block-gap;
        padding: $inline-gap;
        font-style: italic;
        background-color: color(complementary);
        border-radius: 4px;
        box-shadow: 10px 5px 5px color(primary);
    }
}

@include media-md {
    .card-featured-game {
        padding: $inline-gap 15vw;
        @include flexCenter(row);
        background-color: lighten(color(harmony), 15) ;
        
        .featured-img {
            max-height: 50vh;
            max-width: 40vw;
            min-width: 20vw;
        }
        img {
            max-height: 100%;
        }
    }
}

.horizontal-scroll {
    display: flex;
    overflow-x: scroll;
    justify-content: space-between;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* IE 10+ */
    -webkit-overflow-scrolling: touch;
}

.card {
    background: $text-color-light;
    border-radius: 8px;
    flex-grow: 1;
    flex-shrink: 0;
    //flex-basis: calc(100% / #{$cols-mobile} - (#{$inline-gap} * 2) - (#{$block-gap} / #{$cols-mobile}));
    flex-basis: calc(100% / #{$cols-mobile-plays} - (#{$inline-gap} * 2));
    margin-right: $inline-gap;
    @include containerFlex(column);

    @include media-md {
        flex-basis: calc(100% / #{$cols-tablet-plays} - (#{$inline-gap} * 2));
    }

    @include media-lg {
        flex-basis: calc(100% / #{$cols-desktop-plays} - (#{$inline-gap} * 2));
    }
}

@import './carousel.games';

.info-play {
    padding: 0 $inline-gap;

    .play-time {
        font-size: 1rem;
        font-weight: 600;
        color: darken(color(complementary), 15);

        &:hover {
            background-color: darken(color(complementary), 15);
            color: $text-color-light;
            border-radius: 4px;
        }
    }

    .names-games {
        padding: $inline-gap 0;
        @include containerFlex(row);
        flex-wrap: wrap;

        a {
            margin-right: calc( 2 * #{$inline-gap});
        }
    }
}

.vertical-card-game {
    flex-basis: calc(100% / #{$cols-mobile-games} - (#{$inline-gap} * 2));
    justify-content: space-between;
    overflow: hidden;

    @include media-md {
        flex-basis: calc(100% / #{$cols-tablet-games} - (#{$inline-gap} * 2));
    }

    @include media-lg {
        flex-basis: calc(100% / #{$cols-desktop-games} - (#{$inline-gap} * 2));
    }

    .game-img {
        text-align: center;

        img {
            height: 100%;
            width: auto;
            object-fit: cover;
        }
    }

    .game-info {
        padding: $inline-gap;
        @include containerFlex(row);
        justify-content: space-between;
        align-items: center;
    }
}
  