#manifesto {
    padding: $block-gap;
    flex-grow: 1;
    @include flexCenter(column);
  
    h2 {
      align-self: flex-start;
      font-size: 1.5rem;
      line-height: 1;
    }
  
    div {
        background-image: url("/images/key-visual.svg");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        align-self: flex-end;
        max-height: 60vh;
        width: 60vh;
        flex-grow: 1;
    }
}

.search-bars {
    @include flexCenter(column);
    padding: $block-gap 0;

    .input {
        width: 40vw;
        background-color: white;
        border: 1px solid rgb(133, 133, 133);
        border-radius: 4px;
        padding: $inline-gap 0;
    }

    .btn-search {
        color: color(complementary);
        width: 25vw;
        border: 1px solid color(complementary);
        background-color: white;
        border-radius: 4px;
        padding: $inline-gap 0;

        &:hover {
            background-color: color(complementary);
            color: $text-color;
        }
    }
}

#manifesto-and-search {
    height: 88vh;
    @include containerFlex(column);
}