.search-bars--plays form {
    padding-top: $block-gap;
    @include flexCenter(column);

    label {
        @include flexCenter(column); 
    }

    .location,
    .date-to {
        margin-bottom: $inline-gap;
    }

    @include media-md {
        padding-top: calc(3 * #{$block-gap});
        @include flexCenter(row);

        label {
            @include flexCenter(row);
            margin-right: $inline-gap;
            font-size: 14px;
        }

        select,
        input {
            margin-left: $inline-gap;
        }

        .location,
        .date-to {
            margin-bottom: 0;
        }
    }
}

.plays-plays {
    padding: $block-gap;
    @include media-md {
        padding: calc(3 * #{$block-gap}) $side-margin 0 $side-margin;

        .card--play {
            margin-bottom: calc(3 * #{$block-gap});
        }
    }

    .slider-plays {
        flex-wrap: wrap;
    }
}

.pagination {
    @include flexCenter(row);
    margin-bottom: $block-gap;

    a {
        padding: 0 $inline-gap;
    }   
}

.container--form {
    padding: $block-gap;
    @include media-md-side-margin;
    @include media-lg {
        padding: calc(3 * #{$block-gap}) calc(2 * #{$side-margin});
    }

    form {
        @include containerFlex(column);
        justify-content: start;
        align-items: stretch;
        align-content: center;
    }   

    label,
    ul {
        margin-bottom: $block-gap;
    }

    .location {
        @include containerFlex(column);

        input,
        select {
            margin-bottom: $inline-gap;
        }
    }

    button {
        align-self: center;
    }
}


.container--select-games {
    margin-top: $inline-gap;
    height: 20vh;
    width: auto;
    border: 1px dotted color(complementary);
    border-radius: 4px;
    overflow: scroll;
    @include containerFlex(row);
    justify-content: space-between;
    align-items: flex-start;

    .games-selected {
        flex: 0 1 50%;

        li {
            display: inline-block;
            margin: $inline-gap;
            background-color: lighten(color(harmony), 15);
            border-radius: 4px;
            cursor: pointer;
        }
    }

    .games-options {
        margin: $inline-gap;
        list-style-type: none;
        
        li {
            cursor: pointer;
        }
    }
}