.search-bars--plays form {
    padding-top: $block-gap;
    @include flexCenter(column);

    label {
        @include flexCenter(column); 
    }

    .location,
    .date-to {
        margin-bottom: $inline-gap;
    }

    @include media-md {
        padding-top: calc(3 * #{$block-gap});
        @include flexCenter(row);

        label {
            @include flexCenter(row);
            margin-right: $inline-gap;
            font-size: 14px;
        }

        select,
        input {
            margin-left: $inline-gap;
        }

        .location,
        .date-to {
            margin-bottom: 0;
        }
    }
}

.plays-plays {
    padding: $block-gap;
    padding-right: calc(#{$block-gap} - 8px);
    @include media-md {
        padding: calc(3 * #{$block-gap}) calc(#{$side-margin} - 8px) 0 $side-margin;

        .card--play {
            margin-bottom: calc(3 * #{$block-gap});
        }
    }

    .slider-plays {
        flex-wrap: wrap;
    }
}

.pagination {
    @include flexCenter(row);
    margin-bottom: $block-gap;

    a {
        padding: 0 $inline-gap;
    }   
}

.container--form {
    padding: $block-gap;
    @include media-md-side-margin;
    @include media-lg {
        padding: calc(3 * #{$block-gap}) calc(2 * #{$side-margin});
    }

    form {
        @include containerFlex(column);
        justify-content: start;
        align-items: stretch;
        align-content: center;
    }   

    label,
    ul {
        margin-bottom: $block-gap;
    }

    .location {
        @include containerFlex(column);

        input,
        select {
            margin-bottom: $inline-gap;
        }
    }

    button {
        align-self: center;
    }
}


.container--select-games {
    margin-top: $inline-gap;
    height: 20vh;
    width: auto;
    border: 1px dotted color(complementary);
    border-radius: 4px;
    overflow: scroll;
    @include containerFlex(row);
    justify-content: space-between;
    align-items: flex-start;

    .games-selected {
        flex: 0 1 50%;

        li {
            display: inline-block;
            margin: $inline-gap;
            background-color: lighten(color(harmony), 15);
            border-radius: 4px;
            cursor: pointer;
        }
    }

    .games-options {
        margin: $inline-gap;
        list-style-type: none;
        
        li {
            cursor: pointer;
        }
    }
}

.banner--play {
    background-color: lighten(color(harmony), 15);
    padding: $block-gap;
    @include containerFlex(column);

    h3 {
        font-size: 1.5rem;
        line-height: 1.5rem;
    }

    @include media-md {
        padding: $block-gap $side-margin;
    }
}

.play-organizer-btns {
    @include containerFlex(row);
    justify-content: space-between;
    align-items: center;
    margin-top: $block-gap;
}

.play-organizer {
    @include containerFlex(row);
    align-items: center;

    p {
        margin-left: $inline-gap;
    }
}

.play__edit-delete {
    @extend .game__edit-delete;
}

.container--play {
    padding: $block-gap;

    h3 {
        margin-bottom: $inline-gap;
    }

    @include media-md {
        padding: $block-gap $side-margin calc(3 * #{$block-gap}) $side-margin;
    }
}

.play-games {
    margin-top: $block-gap;
}

.list--participants {
    margin-top: $inline-gap;
}

.participants__users {
    @include containerFlex(row)
}

.card--player {
    @include containerFlex(row);
    align-items: center;
    margin-top: $inline-gap;
    margin-right: $block-gap;

    a {
        margin-left: $inline-gap;
        margin-bottom: 0;
    }
}


.join-play {
    height: 24px;
    width: 24px;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: transparent;
    margin: calc(0.5 * #{$inline-gap});
    flex: 0 0 auto;
}
.svg-join {
    height: 100%;
    width: 100%;
    fill: white;

    @include media-lg {
        &:hover {
            fill: darken(color(complementary), 15);
        }
    }    
}

button.joined {
    .svg-join {
      fill: darken(color(complementary), 15);
    }
}
