@include media-md {   
    .title {
    order: 2;
    flex-grow: 1;
    
    @include flexCenter(row);
        div {
        width: initial;
        }
    }
    
    #bgc-title {
    max-width: 20vw;
    }
    
    .redirections {
    order: 1;
    }

    #manifesto {
        @include containerFlex(row);
        justify-content: space-around;
        align-items: center;
      
        h2 {
          font-size: 2.5rem;
          line-height: 1.25;
          align-self: inherit;
        }
      
        img {
          width: 60vw;
          align-self: inherit;
        }
    }
}