@include media-md {  
    nav {
        height: 8vh;
    }

    #manifesto-and-search {
        height: 92vh;
        @include containerFlex(column);
    }
    
    .title {
    order: 2;
    flex-grow: 1;
    
    @include flexCenter(row);
        div {
        width: initial;
        }
    }
    
    #bgc-title {
    max-width: 20vw;
    }
    
    .redirections {
    order: 1;
    }

    #manifesto {
        @include containerFlex(row);
        justify-content: center;
        align-items: center;
      
        h2 {
            font-size: 1.75rem;
            line-height: 1.25;
            align-self: center;
            flex: none;
        }
      
        div {
            height: 60vh;
            width: 60vh;;
            align-self: center;
            flex: none;
        }
    }

    .search-bars {
        font-size: 1.25rem;

        .input {
            max-width: 350px;
            font-size: 1.25rem;
        }
    
        .btn-search {
            max-width: 200px;
            font-size: 1.25rem;
        }
    }
}