$text-color: #282828;
$text-color-light: #f3f3f4;

$block-gap: 1.5rem;
$inline-gap: 0.5rem;

$brand-colors: (
  "primary": #D5A286,
  "complementary": #86B9D5,
  "harmony": #D5869F
);

$media: (
  "mobile": 480px,
  "tablet": 768px,
  "desktop": 1440px
);

$cols-desktop-plays: 4;
$cols-tablet-plays: 3;
$cols-mobile-plays: 2;

$cols-desktop-games: 4;
$cols-tablet-games: 3;
$cols-mobile-games: 2;

$side-margin: 15vw;
