@import './variables';

@import'./config';

html, body {
  height: 100%;
}

body {
  @include containerFlex(column);
  font: 14px "Maison Neue Book", "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.5;
  color: $text-color;
}

.nav-and-content {
  flex: 1 0 auto;
  margin: 0 ;
}

.footer {
  flex-shrink: 0;
}

nav {
  @include containerFlex(row);
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.title {
  order: 1;
  flex-grow: 1;

  div {
    @include flexCenter(row);
    width: 100vw;
    padding: $inline-gap $block-gap;
  }
}

#bgc-title {
  max-width: 40vw;
}

.redirections {
  order: 2;
  padding-left: $block-gap;

  a {
    margin-right: $inline-gap;
  }
}

.auth {
  order: 3;
  padding-right: $block-gap;

  a {
    margin-left: $inline-gap;
  }
}

a {
  color: $text-color;
  text-decoration: none;
//*interpolation by wrapping an expression in #{} to embed the result of a SassScript expression into a chunk of CSS
  &:hover {
    color: color(complementary);
  }
}

@import './index';

#social-media-logos {
  background-color: color(complementary);

  img {
    height: 16px;
  }
}

button.favorite {
  background-color: color(harmony);
}

button.joined {
  //inherit the styles of an element
  @extend button.favorite;
  background-color: color(harmony);
}

.hidden {
  display: none;
}

img.avatar {
  height: 48px;
  border-radius: 50%;
}

// .dark-theme {
//   @include darkTheme(true);
// }

@import './responsive';