* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

img {
  max-width: 100%;
  height: auto; }

::-webkit-scrollbar {
  width: 0;
  height: 0; }

#manifesto {
  padding: 1.5rem;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }
  #manifesto h2 {
    align-self: flex-start;
    font-size: 1.5rem;
    line-height: 1; }
  #manifesto div {
    background-image: url("/images/key-visual.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    align-self: flex-end;
    max-height: 60vh;
    width: 60vh;
    flex-grow: 1; }
  @media screen and (min-width: 768px) {
    #manifesto {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row; }
      #manifesto h2 {
        font-size: 1.75rem;
        line-height: 1.25;
        align-self: center;
        flex: none; }
      #manifesto div {
        height: 60vh;
        width: 60vh;
        align-self: center;
        flex: none; } }

.search-bars {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1.5rem 0; }
  .search-bars .input {
    width: 40vw;
    background-color: white;
    border: 1px solid #858585;
    border-radius: 4px;
    padding: 0.5rem 0; }
  .search-bars .btn-search {
    color: #4d98c1;
    width: 25vw;
    border: 1px solid #4d98c1;
    background-color: white;
    border-radius: 4px;
    padding: 0.5rem 0;
    cursor: pointer; }
    .search-bars .btn-search:hover {
      background-color: #86B9D5;
      color: #282828; }
  @media screen and (min-width: 768px) {
    .search-bars {
      font-size: 1.25rem; }
      .search-bars .input {
        max-width: 350px;
        font-size: 1.25rem; }
      .search-bars .btn-search {
        max-width: 200px;
        font-size: 1.25rem; } }

#manifesto-and-search {
  height: 88vh;
  display: flex;
  flex-direction: column; }
  @media screen and (min-width: 768px) {
    #manifesto-and-search {
      height: 92vh; } }

.index-plays, .index-games {
  padding: 1.5rem;
  display: flex;
  flex-direction: column; }
  @media screen and (min-width: 768px) {
    .index-plays, .index-games {
      padding: calc(3 * 1.5rem) 15vw; } }

.link-see-all {
  font-size: 1rem;
  font-weight: 500;
  color: #86B9D5;
  align-self: flex-start;
  display: inline-block; }

.index-games {
  margin-bottom: 1.5rem; }

.featured-games h3 {
  padding: 1.5rem 0 0.5rem 1.5rem; }

@media screen and (min-width: 768px) {
  .featured-games {
    margin-bottom: 1.5rem;
    display: flex;
    flex-direction: column; }
    .featured-games h3 {
      padding: 1.5rem 15vw 0 15vw; } }

.featured-game-info {
  padding: 1.5rem; }
  .featured-game-info p {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 10;
    overflow: hidden;
    padding-top: 0.5rem; }
  .featured-game-info .designer {
    padding-top: 0.5rem;
    color: #757575; }
  .featured-game-info .editor-note {
    display: inline-block;
    margin-top: 1.5rem;
    padding: 0.5rem;
    font-style: italic;
    background-color: #86B9D5;
    border-radius: 4px;
    box-shadow: 10px 5px 5px #D5A286; }

@media screen and (min-width: 768px) {
  .card-featured-game {
    padding: 0.5rem 15vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background-color: #e9bfcc; }
    .card-featured-game .featured-img {
      max-width: 40vw;
      min-width: 20vw; }
    .card-featured-game img {
      max-height: 100%; } }

.horizontal-scroll {
  display: flex;
  overflow-x: scroll;
  scrollbar-width: none;
  /* Firefox */
  -ms-overflow-style: none;
  /* IE 10+ */
  -webkit-overflow-scrolling: touch; }

.card {
  overflow: hidden;
  background: white;
  border-radius: 8px;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: calc(100% / 2 - (0.5rem * 2));
  max-width: calc(100% / 2 - (0.5rem * 2));
  margin-right: 0.5rem;
  margin-bottom: 1.5rem;
  display: flex;
  flex-direction: column; }
  @media screen and (max-width: 480px) {
    .card {
      flex-basis: calc(100% / 1 - (0.5rem * 2));
      max-width: calc(100% / 1 - (0.5rem * 2)); } }
  @media screen and (min-width: 768px) {
    .card {
      flex-basis: calc(100% / 3 - (0.5rem * 2));
      max-width: calc(100% / 3 - (0.5rem * 2)); } }
  @media screen and (min-width: 1440px) {
    .card {
      flex-basis: calc(100% / 4 - (0.5rem * 2));
      max-width: calc(100% / 4 - (0.5rem * 2)); } }

.card-carousel {
  position: relative;
  display: block;
  height: 150px;
  width: 100%;
  background-color: inherit;
  margin-bottom: 0.5rem; }

.card-carousel__viewport {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  overflow-x: scroll;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory; }

.card-carousel__slide {
  position: relative;
  flex: 0 0 100%;
  width: 100%;
  height: 100%; }

.card-carousel__slide-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  scroll-snap-align: center;
  background-color: inherit;
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat; }

.info-play {
  padding: 0 0.5rem; }
  .info-play .play-time {
    font-size: 1rem;
    font-weight: 600;
    color: #4d98c1; }
    .info-play .play-time p:hover {
      background-color: #4d98c1;
      color: #f3f3f4;
      border-radius: 4px; }
  .info-play .names-games {
    padding: 0.5rem 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; }
    .info-play .names-games a {
      margin-right: calc( 2 * 0.5rem); }

.vertical-card-game {
  flex-basis: calc(100% / 2 - (0.5rem * 2));
  overflow: hidden; }
  @media screen and (min-width: 768px) {
    .vertical-card-game {
      flex-basis: calc(100% / 3 - (0.5rem * 2)); } }
  @media screen and (min-width: 1440px) {
    .vertical-card-game {
      flex-basis: calc(100% / 4 - (0.5rem * 2)); } }
  .vertical-card-game .game-img {
    text-align: center;
    position: relative;
    height: 150px; }
    .vertical-card-game .game-img .game-img-bg {
      background-size: cover;
      filter: blur(3px);
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0; }
    .vertical-card-game .game-img img {
      position: relative;
      height: 100%;
      width: auto;
      object-fit: cover; }
  .vertical-card-game .game-info {
    padding: 0.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start; }
    .vertical-card-game .game-info div {
      flex: 1 1 auto; }

.like-game {
  height: 18px;
  width: 18px;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: transparent;
  margin: calc(0.5 * 0.5rem);
  flex: 0 0 auto; }

.heart {
  height: 100%;
  width: 100%;
  fill: #c5c3c3; }
  @media screen and (min-width: 1440px) {
    .heart:hover {
      fill: #c14d72; } }

button.favorite .heart {
  fill: #c14d72; }

.search-bars--plays form {
  padding-top: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }
  .search-bars--plays form label {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; }
  .search-bars--plays form .location,
  .search-bars--plays form .date-to {
    margin-bottom: 0.5rem; }
  @media screen and (min-width: 768px) {
    .search-bars--plays form {
      padding-top: calc(3 * 1.5rem);
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row; }
      .search-bars--plays form label {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        margin-right: 0.5rem;
        font-size: 14px; }
      .search-bars--plays form select,
      .search-bars--plays form input {
        margin-left: 0.5rem; }
      .search-bars--plays form .location,
      .search-bars--plays form .date-to {
        margin-bottom: 0; } }

.plays-plays {
  padding: 1.5rem; }
  @media screen and (min-width: 768px) {
    .plays-plays {
      padding: calc(3 * 1.5rem) 15vw 0 15vw; }
      .plays-plays .card--play {
        margin-bottom: calc(3 * 1.5rem); } }
  .plays-plays .slider-plays, .plays-plays .container-games {
    flex-wrap: wrap; }

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-bottom: 1.5rem; }
  .pagination a {
    padding: 0 0.5rem; }

.container--form {
  padding: 1.5rem; }
  @media screen and (min-width: 768px) {
    .container--form {
      padding: calc(3 * 1.5rem) 15vw; } }
  @media screen and (min-width: 1440px) {
    .container--form {
      padding: calc(3 * 1.5rem) calc(2 * 15vw); } }
  .container--form form {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: stretch;
    align-content: center; }
  .container--form label,
  .container--form ul {
    margin-bottom: 1.5rem; }
  .container--form .location {
    display: flex;
    flex-direction: column; }
    .container--form .location input,
    .container--form .location select {
      margin-bottom: 0.5rem; }
  .container--form button {
    align-self: center; }

.container--select-games {
  margin-top: 0.5rem;
  height: 20vh;
  width: auto;
  border: 1px dotted #86B9D5;
  border-radius: 4px;
  overflow: scroll;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start; }
  .container--select-games .games-selected {
    flex: 0 1 50%; }
    .container--select-games .games-selected li {
      display: inline-block;
      margin: 0.5rem;
      background-color: #e9bfcc;
      border-radius: 4px;
      cursor: pointer; }
  .container--select-games .games-options {
    margin: 0.5rem;
    list-style-type: none; }
    .container--select-games .games-options li {
      cursor: pointer; }

.banner--play {
  background-color: #e9bfcc;
  padding: 1.5rem;
  display: flex;
  flex-direction: column; }
  .banner--play h3 {
    font-size: 1.5rem;
    line-height: 1.5rem; }
  @media screen and (min-width: 768px) {
    .banner--play {
      padding: 1.5rem 15vw; } }

.play-organizer-btns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 1.5rem; }

.play-organizer {
  display: flex;
  flex-direction: row;
  align-items: center; }
  .play-organizer p {
    margin-left: 0.5rem; }

.container--play {
  padding: 1.5rem; }
  .container--play h3 {
    margin-bottom: 0.5rem; }
  @media screen and (min-width: 768px) {
    .container--play {
      padding: 1.5rem 15vw calc(3 * 1.5rem) 15vw; } }

.play-games {
  margin-top: 1.5rem; }

.list--participants {
  margin-top: 0.5rem; }

.participants__users {
  display: flex;
  flex-direction: row; }

.card--player {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 0.5rem;
  margin-right: 1.5rem; }
  .card--player a {
    margin-left: 0.5rem;
    margin-bottom: 0; }

.join-play {
  height: 24px;
  width: 24px;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: transparent;
  margin: calc(0.5 * 0.5rem);
  flex: 0 0 auto; }

.svg-join {
  height: 100%;
  width: 100%;
  fill: white; }
  @media screen and (min-width: 1440px) {
    .svg-join:hover {
      fill: #4d98c1; } }

button.joined .svg-join {
  fill: #4d98c1; }

.auth-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: calc(3 * 1.5rem) 0; }
  @media screen and (min-width: 768px) {
    .auth-form {
      padding: calc(3 * 1.5rem) 15vw; } }
  @media screen and (min-width: 768px) {
    .auth-form {
      margin: calc(3 * 1.5rem) 15vw; } }
  .auth-form form {
    background-color: white;
    width: 80vw;
    padding: 1.5rem;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; }
    .auth-form form .form-fields {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: stretch; }
    .auth-form form label {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-top: 0.5rem; }
      .auth-form form label input {
        margin-left: 0.5rem; }
    .auth-form form button {
      margin-top: 1.5rem;
      width: auto;
      padding: 5px;
      color: #4d98c1;
      border: 1px solid #4d98c1;
      background-color: white;
      border-radius: 4px;
      cursor: pointer; }
      .auth-form form button:hover {
        background-color: #86B9D5;
        color: #282828; }
    @media screen and (min-width: 768px) {
      .auth-form form {
        padding: calc(3 * 1.5rem);
        width: 45vw; } }

.login-twitter {
  margin-top: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row; }
  .login-twitter img {
    width: 16px;
    height: 16px;
    margin-left: 0.5rem; }

.link-login {
  margin-top: 1.5rem;
  border-top: 1px solid #86B9D5;
  padding-top: 0.5rem; }

.error-message {
  margin-top: 1.5rem;
  color: #903250;
  font-size: 1.5rem; }

.content-my-profile {
  padding: 1.5rem; }
  .content-my-profile section {
    margin-top: 1.5rem; }
    @media screen and (min-width: 768px) {
      .content-my-profile section {
        margin-top: calc(3 * 1.5rem); } }
  @media screen and (min-width: 768px) {
    .content-my-profile {
      padding: calc(3 * 1.5rem) 15vw; } }

.container--form__profile {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }

.form--profile {
  display: flex;
  flex-direction: column;
  align-items: stretch; }
  .form--profile h3 {
    margin-bottom: 1.5rem;
    font-size: 1.5rem;
    text-align: center; }
  .form--profile label {
    margin-bottom: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: stretch; }
  .form--profile button {
    align-self: center; }

.profile-form__image-upload {
  display: flex;
  flex-direction: column; }
  .profile-form__image-upload img {
    width: 100%;
    height: auto; }

.search-bars--games form {
  padding-top: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }
  .search-bars--games form div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; }
  .search-bars--games form label {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; }
  .search-bars--games form .btn-submit {
    margin-top: 0.5rem; }
  @media screen and (min-width: 768px) {
    .search-bars--games form {
      padding-top: calc(3 * 1.5rem); }
      .search-bars--games form div {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap; }
      .search-bars--games form label {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        margin-right: 0.5rem;
        font-size: 14px; }
      .search-bars--games form select,
      .search-bars--games form input {
        margin-left: 0.5rem; }
      .search-bars--games form .btn-submit {
        margin-top: 0; } }

.games-games {
  padding: 1.5rem; }
  @media screen and (min-width: 768px) {
    .games-games {
      padding: calc(3 * 1.5rem) 15vw 0 15vw; } }

.container-games-rows {
  display: flex;
  flex-direction: column;
  align-items: stretch; }

.horizontal-card-game {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  margin-bottom: 1.5rem;
  border-radius: 8px;
  overflow: hidden;
  background-color: white; }
  @media screen and (min-width: 768px) {
    .horizontal-card-game {
      margin-bottom: calc(2 * 1.5rem); } }
  .horizontal-card-game .info-game {
    flex-shrink: 1;
    padding: 0.5rem; }
    .horizontal-card-game .info-game p {
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      overflow: hidden;
      padding-top: 0.5rem; }
      @media screen and (min-width: 768px) {
        .horizontal-card-game .info-game p {
          -webkit-line-clamp: 4; } }

.horizontal-card-game__image {
  height: 120px;
  width: 120px;
  flex-shrink: 0; }
  @media screen and (min-width: 768px) {
    .horizontal-card-game__image {
      height: auto;
      min-height: 100%;
      width: 25%; } }

.game__like-and-title {
  display: flex;
  flex-direction: row; }
  .game__like-and-title h3 {
    margin-left: 0.5rem; }

.game__designer {
  color: #757575;
  font-style: italic; }

.banner--game__image {
  height: 20vh; }
  @media screen and (min-width: 768px) {
    .banner--game__image {
      height: 35vh; } }

.content--game-all {
  padding: 1.5rem; }
  @media screen and (min-width: 768px) {
    .content--game-all {
      padding: 1.5rem 15vw calc(3 * 1.5rem) 15vw; } }

.game-infos__name {
  font-size: 2rem; }

.game__edit-delete, .play__edit-delete {
  display: flex;
  flex-direction: row; }
  .game__edit-delete form, .play__edit-delete form {
    margin-left: 0.5rem; }
  .game__edit-delete button, .play__edit-delete button {
    height: 100%; }

.game-infos div {
  margin-bottom: 0.5rem; }

.container--game-plays .btn-create-new {
  display: inline-block; }

.container--game-plays,
.section--game-comments {
  margin-top: 1.5rem; }
  .container--game-plays h3,
  .section--game-comments h3 {
    padding-bottom: 0.5rem; }
  @media screen and (min-width: 768px) {
    .container--game-plays,
    .section--game-comments {
      margin-top: calc(3 * 1.5rem); } }

.card--comment {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.5rem; }

.card--comment__user {
  display: flex;
  flex-direction: row;
  align-items: center; }
  .card--comment__user img {
    margin-right: 0.5rem; }

.container--form__game {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1.5rem 0; }
  @media screen and (min-width: 768px) {
    .container--form__game {
      padding: calc(3 * 1.5rem) 0; } }

.form--game {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start; }
  .form--game label {
    margin-bottom: 1.5rem; }
  .form--game button {
    align-self: center; }

.game__textarea {
  flex-shrink: 1; }

.game-form__image-upload {
  display: flex;
  flex-direction: column; }
  .game-form__image-upload img {
    max-width: 30vw; }

.container--form__comment {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1.5rem 0; }
  @media screen and (min-width: 768px) {
    .container--form__comment {
      padding: calc(3 * 1.5rem) 0; } }

.form--comment {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }
  .form--comment h3,
  .form--comment textarea {
    margin-bottom: 1.5rem; }
  .form--comment h3 {
    font-size: 1.5rem; }

.cover-blurred {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row; }

.cover-blurred__bg {
  background-size: cover;
  background-position: center;
  filter: blur(3px);
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0; }

.cover-blurred__image {
  position: relative;
  display: block;
  height: 100%;
  width: auto;
  object-fit: cover; }

html, body {
  height: 100%; }

body {
  display: flex;
  flex-direction: column;
  font: 14px "Maison Neue Book", "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.5;
  color: #282828;
  background-color: #fcf9f8; }

.hidden {
  visibility: hidden; }

input,
select,
textarea {
  border: solid 1px #c7c7c7;
  border-radius: 4px; }

input {
  line-height: 1.5rem; }

select {
  padding: calc(0.5 * 0.5rem) 0; }

.nav-and-content {
  flex: 1 0 auto;
  margin: 0; }

footer {
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  background-color: #efdcd2;
  padding: 1.5rem 0; }

.footer-tribute P {
  text-align: center;
  margin-bottom: 0.5rem;
  font-weight: 500; }

.footer-brand {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 1.5rem;
  margin-top: 0.5rem; }
  .footer-brand img {
    height: 16px;
    padding-left: 0.5rem; }
    @media screen and (min-width: 768px) {
      .footer-brand img {
        height: 24px; } }

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: white;
  height: 12vh; }
  @media screen and (min-width: 768px) {
    nav {
      height: 8vh; } }

.title {
  order: 1;
  flex-grow: 1; }
  .title div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100vw;
    padding: 0.5rem 1.5rem; }
  @media screen and (min-width: 768px) {
    .title {
      order: 2; }
      .title div {
        width: initial; } }

#bgc-title {
  max-width: 40vw; }
  @media screen and (min-width: 768px) {
    #bgc-title {
      max-width: 20vw; } }

.redirections {
  order: 2;
  padding-left: 1.5rem; }
  @media screen and (min-width: 768px) {
    .redirections {
      order: 1; } }
  .redirections a {
    margin-right: 0.5rem; }

.auth {
  order: 3;
  padding-right: 1.5rem;
  display: flex;
  flex-direction: row;
  align-items: center; }
  .auth a {
    margin-left: 0.5rem; }

a {
  color: #282828;
  text-decoration: none; }
  a:hover {
    color: #86B9D5; }

img.avatar {
  height: 32px;
  border-radius: 50%; }

.btn-create-new {
  margin-top: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }
  .btn-create-new a {
    border: 1px solid #4d98c1;
    background-color: #86B9D5;
    color: #282828;
    padding: 5px;
    border-radius: 4px; }
    .btn-create-new a:hover {
      background-color: white;
      color: #4d98c1; }

.btn-submit {
  font-size: 14px;
  width: auto;
  padding: 5px;
  color: #4d98c1;
  border: 1px solid #4d98c1;
  background-color: white;
  border-radius: 4px;
  cursor: pointer; }
  .btn-submit:hover {
    background-color: #86B9D5;
    color: #282828; }

/*# sourceMappingURL=style.css.map */