@import './variables';

@import'./config';

html, body {
  height: 100%;
}

body {
  @include containerFlex(column);
}

.nav-and-content {
  flex: 1 0 auto;
}

.footer {
  flex-shrink: 0;
}

#manifesto {
  @include flexCenter(column);

  img {
    width: 50vw;
  }

  @include media-md {
    @include flexCenter(row);
  }
}

a {
  color: $text-color;
  text-decoration: none;
//by '$' it copies the parent selector
//*interpolation by wrapping an expression in #{} to embed the result of a SassScript expression into a chunk of CSS
  &:hover {
    color: color(light);
  }
}

// sass nesting functionality
#social-media-logos {
  background-color: color(light);

  img {
    height: 16px;
  }
}

button.favorite {
  background-color: pink;
}

button.joined {
  //inherit the styles of an element
  @extend button.favorite;
  background-color: color(secondary);
}

img#bgc-title {
  height: 50px;
}

.hidden {
  display: none;
}

img.avatar {
  height: 48px;
  border-radius: 50%;
}

// .dark-theme {
//   @include darkTheme(true);
// }