body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#social-media-logos img {
  height: 16px;
}

button.favorite {
  background-color: pink;
}

button.joined {
  background-color: orange;
}

img#bgc-title {
  height: 50px;
}

.hidden {
  display: none;
}