<div class="banner--game__image">
    {{> coverBlurred image=game.img name=game.name}}
</div>
    
<div class="container--form__comment">    
    <form class="form--comment" action="/games/{{game.id}}/addcomment" method="POST">
        <h3>Write a new comment on {{game.name}}</h3>
        <textarea name="content"cols="50" rows="10"></textarea>
        <button class="btn-submit">Submit</button>
    </form>
</div>