<section>
    <form action="/games/{{id}}" method="POST" enctype="multipart/form-data">
        <label for="image">
            <input type="file" name="image">
        </label>
        <label for="name">
            Name:
            <input type="text" name="name">
        </label>
        <label for="minPlayer">
            Minimum player:
            <input type="number" name="minPlayer">
        </label>
        <label for="maxPlayer">
            Maximum player:
            <input type="number" name="maxPlayer">
        </label>
        <label for="gamePlayTime">
            Game play time(minutes):
            <input type="number" name="gamePlayTime">
        </label>
        <label for="description">
            Description
            <textarea name="description" cols="50" rows="20"></textarea>
        </label>
        <label for="shortDescription">
            Short Description
            <textarea name="shortDescription" cols="50" rows="20" minlength="10" maxlength="250"></textarea>
        </label>
        <label for="yearOfPublish">
            Published in:
            <input type="text" name="yearOfPublish">
        </label>
        <label for="designer">
            Designer:
            <input type="text" name="designer">
        </label>
        <label for="artist">
            Artist:
            <input type="text" name="artist">
        </label>
        <label for="publisher">
            Publisher:
            <input type="text" name="publisher">
        </label>
        <label for="category">
            Category:
            <input type="text" name="category">
        </label>
        <label for="mechanic">
            Mechanic:
            <input type="text" name="mechanic">
        </label>
        <input type="submit">
    </form>
</section>