<section class="container--form__game">
    <form class="form--game" action="/games/new" method="POST" enctype="multipart/form-data">
        <label for="image">
            <p>Image</p>            
            <input type="file" name="image" id="image-input" class="form-control-file" />
            <input type="text" name="existingImage" hidden id="" value="{{game.img}}">
        </label>

        <label for="name">
            <p>Name</p>           
            <input type="text" name="name">
        </label>

        <label for="minPlayer">
            <p>Minimum player</p>           
            <input type="number" name="minPlayer">
        </label>

        <label for="maxPlayer">
            <p>Maximum player</p>            
            <input type="number" name="maxPlayer">
        </label>

        <label for="gamePlayTime">
            <p>Game play time in minutes</p>
            <input type="number" name="gamePlayTime">
        </label>

        <label for="description">
            <p>Description</p>           
            <textarea class="game__textarea" name="description" minlength="50"></textarea>
        </label>

        <label for="shortDescription">
            <p> Short description</p>
            <textarea class="game__textarea" name="shortDescription" minlength="10" maxlength="250"></textarea>
        </label>

        <label for="yearOfPublish">
            <p>Published in year</p>            
            <input type="text" name="yearOfPublish">
        </label>

        <label for="designer">
            <p>Designer</p>           
            <input type="text" name="designer">
        </label>

        <label for="artist">
            <p>Artist</p>           
            <input type="text" name="artist">
        </label>

        <label for="publisher">
            <p>Publisher</p>           
            <input type="text" name="publisher">
        </label>

        <label for="category">
            <p>Category</p>            
            <input type="text" name="category">
        </label>

        <label for="mechanic">
            <p>Mechanic</p>           
            <input type="text" name="mechanic">
        </label>

        <button class="btn-submit">Create</button>

    </form>
</section>