<section class="container--form">
    <form action="/plays/new" method="POST">
        <label for="datetime">
            Date and Time
            <input type="datetime-local" name="datetime">
        </label>

        <label class="location">
            <p>Location</p>           
            <input type="text" name="nameOfCommerce" placeholder="name of the venue,ex: Happy Café">
            <input type="text" name="street" placeholder="the address">
            <input type="text" name="postCode" placeholder="post code">
            <select name="city">
                <option value="">choose a city</option>
                <option value="Paris">Paris</option>
                <option value="Lyon">Lyon</option>
                <option value="Nice">Nice</option>
                <option value="Hyères">Hyères</option>
                <option value="Corse">Corse</option>
            </select>
            <p>Notes for the participants</p>
            <textarea name="moreInstruction" cols="30" rows="5"></textarea>         
        </label>

        <label for="gamesForPlay" class="label-games-play">
            <p>Games</p> 
            <input type="search" class="search-bar-games" placeholder="type game name here">
            <div class="container--select-games">
                <ul class="games-selected"></ul>
            </div>
        </label>
        
        <label for="minPlayer" class="label-minplayer">
            Minimum Player
            <input type="number" name="minPlayer">
        </label>

        <label for="maxPlayer">
            Maximum Player
            <input type="number" name="maxPlayer">
        </label>

        <button class="btn-submit">Create</button>
    </form>
</section>